WebService/JZJW.Winder.BLL/Service References/wsf/GlobalForcastRainDataInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://Iservice.cxf.tsinghua.com/" name="GlobalForcastRainDataInfo" targetNamespace="http://Iservice.cxf.tsinghua.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://Iservice.cxf.tsinghua.com/" elementFormDefault="unqualified" targetNamespace="http://Iservice.cxf.tsinghua.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="GetForcastRainData" type="tns:GetForcastRainData" />
      <xs:element name="GetForcastRainDataResponse" type="tns:GetForcastRainDataResponse" />
      <xs:element name="GetUnParseForcastData" type="tns:GetUnParseForcastData" />
      <xs:element name="GetUnParseForcastDataResponse" type="tns:GetUnParseForcastDataResponse" />
      <xs:element name="ObtainFactorInfo" type="tns:ObtainFactorInfo" />
      <xs:element name="ObtainFactorInfoResponse" type="tns:ObtainFactorInfoResponse" />
      <xs:element name="ObtainFactors" type="tns:ObtainFactors" />
      <xs:element name="ObtainFactorsResponse" type="tns:ObtainFactorsResponse" />
      <xs:element name="ObtainForcastRainData" type="tns:ObtainForcastRainData" />
      <xs:element name="ObtainForcastRainDataResponse" type="tns:ObtainForcastRainDataResponse" />
      <xs:element name="OrganizationInfo" type="tns:OrganizationInfo" />
      <xs:element name="OrganizationInfoResponse" type="tns:OrganizationInfoResponse" />
      <xs:element name="QueryForcastRainData" type="tns:QueryForcastRainData" />
      <xs:element name="QueryForcastRainDataByLocation" type="tns:QueryForcastRainDataByLocation" />
      <xs:element name="QueryForcastRainDataByLocationResponse" type="tns:QueryForcastRainDataByLocationResponse" />
      <xs:element name="QueryForcastRainDataByRange" type="tns:QueryForcastRainDataByRange" />
      <xs:element name="QueryForcastRainDataByRangeResponse" type="tns:QueryForcastRainDataByRangeResponse" />
      <xs:element name="QueryForcastRainDataResponse" type="tns:QueryForcastRainDataResponse" />
      <xs:element name="QueryLocation" type="tns:QueryLocation" />
      <xs:element name="QueryLocationResponse" type="tns:QueryLocationResponse" />
      <xs:element name="QueryPointsInRange" type="tns:QueryPointsInRange" />
      <xs:element name="QueryPointsInRangeResponse" type="tns:QueryPointsInRangeResponse" />
      <xs:complexType name="GetUnParseForcastData">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="GetUnParseForcastDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataByLocation">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element name="arg3" type="xs:int" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataByLocationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataByRange">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element name="arg2" type="xs:double" />
          <xs:element name="arg3" type="xs:double" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataByRangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="OrganizationInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="OrganizationInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryLocation">
        <xs:sequence>
          <xs:element name="arg0" type="xs:long" />
          <xs:element name="arg1" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryLocationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetForcastRainData">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetForcastRainDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtainFactorInfo">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ObtainFactorInfoResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtainFactors">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtainFactorsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainData">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtainForcastRainData">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ObtainForcastRainDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryPointsInRange">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element name="arg2" type="xs:double" />
          <xs:element name="arg3" type="xs:double" />
          <xs:element name="arg4" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryPointsInRangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="GetUnParseForcastDataResponse">
    <wsdl:part name="parameters" element="ns1:GetUnParseForcastDataResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPointsInRangeResponse">
    <wsdl:part name="parameters" element="ns1:QueryPointsInRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataByLocation">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataByLocation" />
  </wsdl:message>
  <wsdl:message name="ObtainFactorsResponse">
    <wsdl:part name="parameters" element="ns1:ObtainFactorsResponse" />
  </wsdl:message>
  <wsdl:message name="OrganizationInfo">
    <wsdl:part name="parameters" element="ns1:OrganizationInfo" />
  </wsdl:message>
  <wsdl:message name="OrganizationInfoResponse">
    <wsdl:part name="parameters" element="ns1:OrganizationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetForcastRainData">
    <wsdl:part name="parameters" element="ns1:GetForcastRainData" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainData">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainData" />
  </wsdl:message>
  <wsdl:message name="QueryLocationResponse">
    <wsdl:part name="parameters" element="ns1:QueryLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ObtainForcastRainData">
    <wsdl:part name="parameters" element="ns1:ObtainForcastRainData" />
  </wsdl:message>
  <wsdl:message name="GetUnParseForcastData">
    <wsdl:part name="parameters" element="ns1:GetUnParseForcastData" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataByRange">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataByRange" />
  </wsdl:message>
  <wsdl:message name="QueryLocation">
    <wsdl:part name="parameters" element="ns1:QueryLocation" />
  </wsdl:message>
  <wsdl:message name="ObtainForcastRainDataResponse">
    <wsdl:part name="parameters" element="ns1:ObtainForcastRainDataResponse" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataByRangeResponse">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="GetForcastRainDataResponse">
    <wsdl:part name="parameters" element="ns1:GetForcastRainDataResponse" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataByLocationResponse">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ObtainFactorInfo">
    <wsdl:part name="parameters" element="ns1:ObtainFactorInfo" />
  </wsdl:message>
  <wsdl:message name="ObtainFactors">
    <wsdl:part name="parameters" element="ns1:ObtainFactors" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataResponse">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataResponse" />
  </wsdl:message>
  <wsdl:message name="ObtainFactorInfoResponse">
    <wsdl:part name="parameters" element="ns1:ObtainFactorInfoResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPointsInRange">
    <wsdl:part name="parameters" element="ns1:QueryPointsInRange" />
  </wsdl:message>
  <wsdl:portType name="GlobalForcastRainDataInfo">
    <wsdl:operation name="GetUnParseForcastData">
      <wsdl:input name="GetUnParseForcastData" message="ns1:GetUnParseForcastData" />
      <wsdl:output name="GetUnParseForcastDataResponse" message="ns1:GetUnParseForcastDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryForcastRainDataByLocation">
      <wsdl:input name="QueryForcastRainDataByLocation" message="ns1:QueryForcastRainDataByLocation" />
      <wsdl:output name="QueryForcastRainDataByLocationResponse" message="ns1:QueryForcastRainDataByLocationResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryForcastRainDataByRange">
      <wsdl:input name="QueryForcastRainDataByRange" message="ns1:QueryForcastRainDataByRange" />
      <wsdl:output name="QueryForcastRainDataByRangeResponse" message="ns1:QueryForcastRainDataByRangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="OrganizationInfo">
      <wsdl:input name="OrganizationInfo" message="ns1:OrganizationInfo" />
      <wsdl:output name="OrganizationInfoResponse" message="ns1:OrganizationInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryLocation">
      <wsdl:input name="QueryLocation" message="ns1:QueryLocation" />
      <wsdl:output name="QueryLocationResponse" message="ns1:QueryLocationResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetForcastRainData">
      <wsdl:input name="GetForcastRainData" message="ns1:GetForcastRainData" />
      <wsdl:output name="GetForcastRainDataResponse" message="ns1:GetForcastRainDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="ObtainFactorInfo">
      <wsdl:input name="ObtainFactorInfo" message="ns1:ObtainFactorInfo" />
      <wsdl:output name="ObtainFactorInfoResponse" message="ns1:ObtainFactorInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="ObtainFactors">
      <wsdl:input name="ObtainFactors" message="ns1:ObtainFactors" />
      <wsdl:output name="ObtainFactorsResponse" message="ns1:ObtainFactorsResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryForcastRainData">
      <wsdl:input name="QueryForcastRainData" message="ns1:QueryForcastRainData" />
      <wsdl:output name="QueryForcastRainDataResponse" message="ns1:QueryForcastRainDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="ObtainForcastRainData">
      <wsdl:input name="ObtainForcastRainData" message="ns1:ObtainForcastRainData" />
      <wsdl:output name="ObtainForcastRainDataResponse" message="ns1:ObtainForcastRainDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryPointsInRange">
      <wsdl:input name="QueryPointsInRange" message="ns1:QueryPointsInRange" />
      <wsdl:output name="QueryPointsInRangeResponse" message="ns1:QueryPointsInRangeResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>