WebService/JZJW.Winder.BLL/Service References/wsf2/GlobalForcastRainDataServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://Iservice.cxf.tsinghua.com/" name="GlobalForcastRainDataServer" targetNamespace="http://Iservice.cxf.tsinghua.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://Iservice.cxf.tsinghua.com/" elementFormDefault="unqualified" targetNamespace="http://Iservice.cxf.tsinghua.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ObtainLatestForcastDate" type="tns:ObtainLatestForcastDate" />
      <xs:element name="ObtainLatestForcastDateResponse" type="tns:ObtainLatestForcastDateResponse" />
      <xs:element name="QueryForcastRainData" type="tns:QueryForcastRainData" />
      <xs:element name="QueryForcastRainDataByRange" type="tns:QueryForcastRainDataByRange" />
      <xs:element name="QueryForcastRainDataByRangeResponse" type="tns:QueryForcastRainDataByRangeResponse" />
      <xs:element name="QueryForcastRainDataResponse" type="tns:QueryForcastRainDataResponse" />
      <xs:element name="QueryHistoryForcastData" type="tns:QueryHistoryForcastData" />
      <xs:element name="QueryHistoryForcastDataResponse" type="tns:QueryHistoryForcastDataResponse" />
      <xs:element name="QueryLatestForcastRainDataByRange" type="tns:QueryLatestForcastRainDataByRange" />
      <xs:element name="QueryLatestForcastRainDataByRangeResponse" type="tns:QueryLatestForcastRainDataByRangeResponse" />
      <xs:element name="QueryPointsInRange" type="tns:QueryPointsInRange" />
      <xs:element name="QueryPointsInRangeResponse" type="tns:QueryPointsInRangeResponse" />
      <xs:complexType name="QueryLatestForcastRainDataByRange">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element name="arg2" type="xs:double" />
          <xs:element name="arg3" type="xs:double" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryLatestForcastRainDataByRangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataByRange">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element name="arg2" type="xs:double" />
          <xs:element name="arg3" type="xs:double" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataByRangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryHistoryForcastData">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element name="arg2" type="xs:double" />
          <xs:element name="arg3" type="xs:double" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
          <xs:element minOccurs="0" name="arg5" type="xs:string" />
          <xs:element minOccurs="0" name="arg6" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryHistoryForcastDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtainLatestForcastDate">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="ObtainLatestForcastDateResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainData">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
          <xs:element minOccurs="0" name="arg3" type="xs:string" />
          <xs:element minOccurs="0" name="arg4" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryForcastRainDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryPointsInRange">
        <xs:sequence>
          <xs:element name="arg0" type="xs:double" />
          <xs:element name="arg1" type="xs:double" />
          <xs:element name="arg2" type="xs:double" />
          <xs:element name="arg3" type="xs:double" />
          <xs:element name="arg4" type="xs:double" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryPointsInRangeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="QueryLatestForcastRainDataByRange">
    <wsdl:part name="parameters" element="ns1:QueryLatestForcastRainDataByRange" />
  </wsdl:message>
  <wsdl:message name="QueryPointsInRangeResponse">
    <wsdl:part name="parameters" element="ns1:QueryPointsInRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryLatestForcastRainDataByRangeResponse">
    <wsdl:part name="parameters" element="ns1:QueryLatestForcastRainDataByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataByRange">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataByRange" />
  </wsdl:message>
  <wsdl:message name="ObtainLatestForcastDateResponse">
    <wsdl:part name="parameters" element="ns1:ObtainLatestForcastDateResponse" />
  </wsdl:message>
  <wsdl:message name="QueryHistoryForcastData">
    <wsdl:part name="parameters" element="ns1:QueryHistoryForcastData" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataByRangeResponse">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataByRangeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainDataResponse">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainDataResponse" />
  </wsdl:message>
  <wsdl:message name="ObtainLatestForcastDate">
    <wsdl:part name="parameters" element="ns1:ObtainLatestForcastDate" />
  </wsdl:message>
  <wsdl:message name="QueryForcastRainData">
    <wsdl:part name="parameters" element="ns1:QueryForcastRainData" />
  </wsdl:message>
  <wsdl:message name="QueryHistoryForcastDataResponse">
    <wsdl:part name="parameters" element="ns1:QueryHistoryForcastDataResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPointsInRange">
    <wsdl:part name="parameters" element="ns1:QueryPointsInRange" />
  </wsdl:message>
  <wsdl:portType name="GlobalForcastRainDataServer">
    <wsdl:operation name="QueryLatestForcastRainDataByRange">
      <wsdl:input name="QueryLatestForcastRainDataByRange" message="ns1:QueryLatestForcastRainDataByRange" />
      <wsdl:output name="QueryLatestForcastRainDataByRangeResponse" message="ns1:QueryLatestForcastRainDataByRangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryForcastRainDataByRange">
      <wsdl:input name="QueryForcastRainDataByRange" message="ns1:QueryForcastRainDataByRange" />
      <wsdl:output name="QueryForcastRainDataByRangeResponse" message="ns1:QueryForcastRainDataByRangeResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryHistoryForcastData">
      <wsdl:input name="QueryHistoryForcastData" message="ns1:QueryHistoryForcastData" />
      <wsdl:output name="QueryHistoryForcastDataResponse" message="ns1:QueryHistoryForcastDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="ObtainLatestForcastDate">
      <wsdl:input name="ObtainLatestForcastDate" message="ns1:ObtainLatestForcastDate" />
      <wsdl:output name="ObtainLatestForcastDateResponse" message="ns1:ObtainLatestForcastDateResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryForcastRainData">
      <wsdl:input name="QueryForcastRainData" message="ns1:QueryForcastRainData" />
      <wsdl:output name="QueryForcastRainDataResponse" message="ns1:QueryForcastRainDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueryPointsInRange">
      <wsdl:input name="QueryPointsInRange" message="ns1:QueryPointsInRange" />
      <wsdl:output name="QueryPointsInRangeResponse" message="ns1:QueryPointsInRangeResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>